$border: 1px solid #000;

.transactions {
  width: 100%;
  &__table {
    width: 100%;
    border-collapse: collapse;
  }

  .table {
    &__head {
      background: lightgreen;
    }

    &__row {
      height: 30px;
      text-align: center;
      &:nth-of-type(even) {
        background: #e0e0e0e0;
      }
    }
  }
}
